<!doctype html>
<html>
    <head>
      <title>Welcome to Dashboard</title>
    </head>
<!doctype html>
<html>
<head>
    <title>Welcome to Dashboard</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .link-container {
            border: 1px solid lightblue;
            margin: 10px;
            padding: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <a class="link-container" href="{{ url_for('index') }}">Home</a>

    {% if current_user['role'] == 'Админ' %}
        <a class="link-container" href="{{ url_for('profiles.get_profiles') }}">Profiles</a>
    {% else %}
        <a class="link-container" href="{{ url_for('profiles.get_profile_one', id=current_user.id) }}">Profile</a>
    {% endif %}

    <a class="link-container" href="{{ url_for('statistics.statistic') }}">Statistic</a>

    {% if current_user['role'] == 'Админ' %}
        <a class="link-container" href="{{ url_for('form_transaction.get_transaction') }}">Transactions</a>
    {% else %}
        <a class="link-container" href="{{ url_for('form_transaction.get_users_transaction', id=current_user.id) }}">Transactions</a>
    {% endif %}

    <a class="link-container" href="{{ url_for('webhooks.get_users_webhooks') }}">Webhooks</a>

    {% if current_user.is_anonymous %}
        <a class="link-container" href="{{ url_for('login.login') }}">Login</a>
    {% else %}
        <a class="link-container" href="{{ url_for('login.logout') }}">Logout</a>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>