<div class="transaction">
    <h2>Сумма: <b>{{ transaction.amount }}</b></h2>
    <div class="field">
        <p>Создана: <b>{{ transaction.created_at }}</b></p>
    </div>
    <div class="field">
        <p>Комиссия: <b>{{ transaction.commission }}</b></p>
    </div>
    <div class="field">
        <p>Статус: <b>{{ transaction.status }}</b></p>
    </div>
</div>

<style>
    .transaction {
        border: 1px solid lightblue;
        border-radius: 10px;
        padding: 20px;
        margin: 15px auto;
        width: 80%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .field {
        border: 1px solid lightblue;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
    }
</style>
