{% extends "base.html" %}
{% block content %}
<style>
    body {
        text-align: center;
        font-family: Arial, sans-serif;
    }
    form {
        display: inline-block;
        border: 1px solid lightblue;
        border-radius: 10px;
        padding: 20px;
        margin: 20px auto;
        width: 80%;
    }
    div {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start; /* Выравнивание элементов по левому краю */
        align-items: center; /* Центрирование по вертикали */
    }
    label {
        width: 30%; /* Ширина для меток */
        text-align: right; /* Выравнивание текста меток вправо */
        margin-right: 10px; /* Отступ между меткой и полем ввода */
    }
    select {
        width: calc(70% - 10px); /* Ширина для полей ввода */
        padding: 10px;
        border: 1px solid lightblue;
        border-radius: 5px;
    }
    .submit-container {
        display: flex;
        justify-content: center; /* Центрирование кнопки */
    }
    input[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color: white;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    input[type="submit"]:hover {
        background-color: lightblue;
    }
</style>

<form method="POST" action="{{ url_for('form_transaction.edit_transaction_for_admin', id=id) }}">
    {{ form.csrf_token }}

    <input type="hidden" name="id" value="{{ id }}">

    <div>
        <label>{{ form.status.label }}</label>
        {{ form.status }}
    </div>

    <div class="submit-container">
        {{ form.submit() }}
    </div>
</form>

{% endblock %}
