{% extends "base.html" %}
{% block content %}
    <div>
        <label for="refresh-interval">Выберите интервал обновления:</label>
        <select id="refresh-interval">
            <option value="0">0 секунд</option>
            <option value="10">10 секунд</option>
            <option value="15">15 секунд</option>
            <option value="30">30 секунд</option>
            <option value="60">1 минута</option>
        </select>
    </div>
  {% if current_user['role'] == 'Админ' %}
    <div>
       <div><p>Общее количество пользователей: <b>{{ data['user_count'] }}</b></p></div>
       <div><p>Общее количество транзакций: <b>{{ data['transaction_count'] }}</b></p></div>
       <div><p>Сумма транзакций за текущий день: <b>{{ data['total_sum'] }}</b></p></div>
        {% if  data['last_ten_transaction'] %}
                <ul>
                <li>
                    {% for transaction in data['last_ten_transaction'] %}
                            <h2>Сумма: {{ transaction['amount'] }}</h2>
                            <p>дата: {{ transaction['created_at'] }}</p>
                            <p>Комисия: {{ transaction['commission'] }}</p>
                    {% endfor %}
                </li>
                </ul>
        {% endif %}
    </div>
  {% else %}
    <div>
       <div><p>Общее количество транзакций: <b>{{ data['transaction_count'] }}</b></p></div>
       <div><p>Сумма транзакций за текущий день: <b>{{ data['total_sum'] }}</b></p></div>
        {% if  data['last_ten_transaction'] %}
                <ul>
                <li>
                    {% for transaction in data['last_ten_transaction'] %}
                            <h2>Сумма: {{ transaction['amount'] }}</h2>
                            <p>дата: {{ transaction['created_at'] }}</p>
                            <p>Комисия: {{ transaction['commission'] }}</p>
                    {% endfor %}
                </li>
                </ul>
        {% endif %}
    </div>

  {% endif %}
<script>
function refreshPage() {
        location.reload();
    }

    const intervalSelect = document.getElementById('refresh-interval');

    let refreshInterval = 0;

    const savedInterval = localStorage.getItem('refreshInterval');
    if (savedInterval) {
        refreshInterval = parseInt(savedInterval);
        intervalSelect.value = refreshInterval;
        if (refreshInterval > 0) {
            window.refreshTimer = setInterval(refreshPage, refreshInterval * 1000);
        }
    }


    intervalSelect.addEventListener('change', function() {

        clearInterval(window.refreshTimer);

        refreshInterval = parseInt(this.value);

        localStorage.setItem('refreshInterval', refreshInterval);

        if (refreshInterval > 0) {
            window.refreshTimer = setInterval(refreshPage, refreshInterval * 1000);
        }
    });
</script>
{% endblock %}