{% extends "base.html" %}
{% block content %}
<style>
    body {
        text-align: center;
        font-family: Arial, sans-serif;
    }
    form {
        display: inline-block;
        border: 1px solid lightblue;
        border-radius: 10px;
        padding: 20px;
        margin: 20px auto;
        width: 80%;
    }
    div {
        margin-bottom: 15px;
    }
    input[type="text"], input[type="password"], input[type="number"], select {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid lightblue;
        border-radius: 5px;
    }
    input[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color: white;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    input[type="submit"]:hover {
        background-color: lightblue;
    }
</style>

<form method="POST" action="{{ url_for('profiles.create_profile_for_admin') }}">
    {{ form.csrf_token }}

    <div>
        {{ form.username.label }}
        {{ form.username }}
    </div>

    <div>
        {{ form.password.label }}
        {{ form.password }}
    </div>

    <div>
        {{ form.balance.label }}
        {{ form.balance }}
    </div>

    <div>
        {{ form.usdt_wallet.label }}
        {{ form.usdt_wallet }}
    </div>

    <div>
        {{ form.role.label }}
        {{ form.role }}
    </div>

    <div>
        {{ form.submit() }}
    </div>
</form>

{% endblock %}